@charset "UTF-8";

@media (max-width: 923px) {
    .banner {
        height: 1000px;
        background-size: cover;
    }
    .banner-title {
        margin: auto;
        margin-top: 200px;
    }
}

@media (max-width: 768px) {
    .banner {
        background-image: url(/images/mobile/image-hero.jpg);
        background-size: cover;
        background-position: center center;
    }
    .nav-banner {
        padding: 70px 50px;
        display: flex;
        align-items: center;
    }
    .banner-logo {
        font-size: 3rem;
    }
    
    .banner-list {
        display: none;
    }

    .hamburger-menu {
        width: 50px;
        height: 30px;
        display: block;
        cursor: pointer;
    }


    .interactive-conteiner {
        width: 721px;
        height: 1100px;
        margin: 185px 10px 0px 10px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0px;
    }
    .interactive-text {
        padding: 0px;
        text-align: center;
        margin-bottom: 100px;
        line-height: 1.5;
    }
    .interactive-text h1 {
        padding: 50px 50px 0px 50px;
        font-size: 3.6rem;
    }
    .interactive-text p {
        font-size: 2rem;
    }
    .interactive-text {
        position: static;
    }
    .creations-title-buttom {
        padding: 0px;
    }
    .creations-title-buttom button {
        display: none;
    }
    .creations-title-buttom h1 {
        font-size: 3.5rem;
        margin: auto;
    }



    .creations-cards {
        height: 2030px;

        padding: 0px;

        text-align: end;
    }
    .cards-creations {
        width: 640px;
        height: 210px;
    }
    .cards-creations h1 {
        padding: 0px;
        
    }

    #img-card-1 {
        background-image: url(/images/mobile/image-deep-earth.jpg);
        background-size: cover;
    }
    #img-card-2 {
        background-image: url(/images/mobile/image-night-arcade.jpg);
        background-size: cover;
    }
    #img-card-3 {
        background-image: url(/images/mobile/image-soccer-team.jpg);
        background-size: cover;
    }
    #img-card-4 {
        background-image: url(/images/mobile/image-grid.jpg);
        background-size: cover;
    }
    #img-card-5 {
        background-image: url(/images/mobile/image-from-above.jpg);
        background-size: cover;
    }
    #img-card-6 {
        background-image: url(/images/mobile/image-pocket-borealis.jpg);
        background-size: cover;
    }
    #img-card-7 {
        background-image: url(/images/mobile/image-curiosity.jpg);
        background-size: cover;
    }
    #img-card-8 {
        background-image: url(/images/mobile/image-fisheye.jpg);
        background-size: cover;
    }

    .button-smarthphone {
        width: 100px;

        display: block;

        font-weight: 300;
        text-transform: uppercase;

        padding: 5px 10px;
        border: 0.5px solid black;
    }


    footer {
        height: 1000px;
    }
}    